project_id              = "your-gcp-project-id"
region                  = "europe-southwest1"
zone                    = "europe-southwest1-a"
firezone_domain         = "vpn.example.com"
firezone_admin_email    = "admin@example.com"
google_workspace_domain = "example.com"
